img.mar{
    width: 50%;
    height: auto;
    display: block;
    margin:0 auto;
    margin-top:0px;
  
    float:center;
}
img:hover {
    opacity: 0.8;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
p.heading{
	text-align:center;
	font-size:200%;
	color:white;
}
p.small1{
	text-align:center;
	font-size:100%;
	color:white;
}
p.small2{
	text-align:center;
	font-size:100%;
	color:white;
}
p.small3{
	text-align:center;
	font-size:100%;
	color:white;
}
p.small4{
	text-align:center;
	font-size:100%;
	color:white;
}
p.small5{
	text-align:center;
	font-size:100%;
	color:white;
}
p.small6{
	text-align:center;
	font-size:100%;
	color:white;
}
p.para1{
	font-size:100%;
	color:#F1948A  ;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:120%;
	letter-spacing: 1px;
}
body{
	background-image:url("maxresdefault.jpg");
	background-attachment: fixed;
}
video{
	width: 50%;
    height: auto;
    display: block;
    margin:0 auto;
    margin-top:0px;
    border: 3px solid red;
    float:center;
}
button{
  background-color: green;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

button:before,
button:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
button:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

button:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}

button:hover:before,
button:hover:after {
  height: 100%;
  width: 100%;
}
button.button2{
	float:right;
}


::selection {
    color: #3498DB;
    background: #1B2631;
}



p.bold
{
color:#F39C12;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
letter-spacing: 1px;
font-size:200%;

}

h1.p
{
font-size:500%;
color : red;
font-family: Georgia, Times, "Times New Roman", serif;
}
